In [4]:
import csv
import pandas as pd 
import numpy as np
import datetime as dt

In [5]:
# import CSV file 
May2019 = pd.read_csv("201904-citibike-tripdata.csv")
May2020 = pd.read_csv('202004-citibike-tripdata.csv')

In [10]:
May2019

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,88,2019-04-01 00:00:14.7410,2019-04-01 00:01:42.8900,2006,Central Park S & 6 Ave,40.765909,-73.976342,2006,Central Park S & 6 Ave,40.765909,-73.976342,36515,Subscriber,1982,1
1,443,2019-04-01 00:00:20.8270,2019-04-01 00:07:44.2920,254,W 11 St & 6 Ave,40.735324,-73.998004,540,Lexington Ave & E 29 St,40.743116,-73.982154,17406,Subscriber,1983,1
2,662,2019-04-01 00:00:30.9960,2019-04-01 00:11:33.2610,3244,University Pl & E 8 St,40.731437,-73.994903,3244,University Pl & E 8 St,40.731437,-73.994903,20775,Subscriber,1988,1
3,86,2019-04-01 00:00:30.9110,2019-04-01 00:01:56.9600,526,E 33 St & 5 Ave,40.747659,-73.984907,474,5 Ave & E 29 St,40.745168,-73.986831,36270,Subscriber,1982,1
4,136,2019-04-01 00:00:32.5930,2019-04-01 00:02:49.3910,461,E 20 St & 2 Ave,40.735877,-73.982050,504,1 Ave & E 16 St,40.732219,-73.981656,36051,Subscriber,1986,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1766089,516,2019-04-30 23:59:33.7520,2019-05-01 00:08:10.1700,397,Fulton St & Clermont Ave,40.684157,-73.969223,3232,Bond St & Fulton St,40.689622,-73.983043,15005,Subscriber,1983,1
1766090,435,2019-04-30 23:59:35.0850,2019-05-01 00:06:50.4610,432,E 7 St & Avenue A,40.726218,-73.983799,349,Rivington St & Ridge St,40.718502,-73.983299,27227,Subscriber,1992,1
1766091,564,2019-04-30 23:59:40.1050,2019-05-01 00:09:04.3660,3709,W 15 St & 6 Ave,40.738046,-73.996430,432,E 7 St & Avenue A,40.726218,-73.983799,16766,Subscriber,1985,1
1766092,675,2019-04-30 23:59:43.2650,2019-05-01 00:10:58.6670,353,S Portland Ave & Hanson Pl,40.685396,-73.974315,3549,Grand Ave & Bergen St,40.678045,-73.962408,17787,Subscriber,1976,1
1766093,1764,2019-04-30 23:59:50.8000,2019-05-01 00:29:15.0230,368,Carmine St & 6 Ave,40.730386,-74.002150,369,Washington Pl & 6 Ave,40.732241,-74.000264,33169,Subscriber,1991,1

In [25]:
combined_df = May2019.append([May2020], ignore_index=True)
combined_df['gender'].replace({0:'Unknown',1:'Male', 2: 'Female'},inplace=True)
combined_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,88,2019-04-01 00:00:14.7410,2019-04-01 00:01:42.8900,2006,Central Park S & 6 Ave,40.765909,-73.976342,2006,Central Park S & 6 Ave,40.765909,-73.976342,36515,Subscriber,1982,Male
1,443,2019-04-01 00:00:20.8270,2019-04-01 00:07:44.2920,254,W 11 St & 6 Ave,40.735324,-73.998004,540,Lexington Ave & E 29 St,40.743116,-73.982154,17406,Subscriber,1983,Male
2,662,2019-04-01 00:00:30.9960,2019-04-01 00:11:33.2610,3244,University Pl & E 8 St,40.731437,-73.994903,3244,University Pl & E 8 St,40.731437,-73.994903,20775,Subscriber,1988,Male
3,86,2019-04-01 00:00:30.9110,2019-04-01 00:01:56.9600,526,E 33 St & 5 Ave,40.747659,-73.984907,474,5 Ave & E 29 St,40.745168,-73.986831,36270,Subscriber,1982,Male
4,136,2019-04-01 00:00:32.5930,2019-04-01 00:02:49.3910,461,E 20 St & 2 Ave,40.735877,-73.982050,504,1 Ave & E 16 St,40.732219,-73.981656,36051,Subscriber,1986,Male

In [26]:
combined_df['starttime'] = pd.to_datetime(combined_df["starttime"])
combined_df ['stoptime'] = pd.to_datetime(combined_df["stoptime"])
combined_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,88,2019-04-01 00:00:14.741,2019-04-01 00:01:42.890,2006,Central Park S & 6 Ave,40.765909,-73.976342,2006,Central Park S & 6 Ave,40.765909,-73.976342,36515,Subscriber,1982,Male
1,443,2019-04-01 00:00:20.827,2019-04-01 00:07:44.292,254,W 11 St & 6 Ave,40.735324,-73.998004,540,Lexington Ave & E 29 St,40.743116,-73.982154,17406,Subscriber,1983,Male
2,662,2019-04-01 00:00:30.996,2019-04-01 00:11:33.261,3244,University Pl & E 8 St,40.731437,-73.994903,3244,University Pl & E 8 St,40.731437,-73.994903,20775,Subscriber,1988,Male
3,86,2019-04-01 00:00:30.911,2019-04-01 00:01:56.960,526,E 33 St & 5 Ave,40.747659,-73.984907,474,5 Ave & E 29 St,40.745168,-73.986831,36270,Subscriber,1982,Male
4,136,2019-04-01 00:00:32.593,2019-04-01 00:02:49.391,461,E 20 St & 2 Ave,40.735877,-73.982050,504,1 Ave & E 16 St,40.732219,-73.981656,36051,Subscriber,1986,Male

In [28]:
combined_df.dtypes

tripduration                        int64
starttime                  datetime64[ns]
stoptime                   datetime64[ns]
start station id                    int64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                      int64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                          int64
gender                             object
dtype: object

In [29]:
clean_data = pd.combined_df, columns=["gender", "split"]
clean_data = combined_df['gender'].replace({0:'Unknown',1:'Male', 2: 'Female'},inplace=True)
clean_data

In [31]:
combined_df.to_csv("clean-citibike-tripdata.csv", index=False, header=True)